*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --app-width: 1000px;
  --ff: Tahoma, Verdana, sans-serif;
  --fw: normal;
  --col-txt: #444;
  --col-gr: #eee;
  --col-bord: #ddd;
  --col-accent: #9631bf;
  --col-orng: rgba(226, 97, 11, 0.883);
  --col-orng-dark: rgb(226, 97, 11);
  --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
        0.125em 0.125em 0.25em rgba(0,0,0,.15);
  --pad-modal: 0.125rem 1rem;
}

body {
  color: var(--txt-col);
  font-family: var(--ff);
  letter-spacing: 1px;
}

h1, h2 {
  font-weight: var(--fw);
}

#app-wrapper {
  border-radius: 6px;
  box-shadow: var(--bs);
  margin: 2rem auto;
  max-width: var(--app-width);
  overflow: hidden;
  padding: 0 0 1.5em;
  width: 90%;
}

#banner {
  background-color: var(--col-gr);
  padding: 0.75em 0;
}

#list-bar {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

#banner h1,
#banner p {
  margin: 0.75em 0;
  text-align: center;
  width: 100%;
}

#list {
  margin: 1.75em;
}

#add-button {
  background-color: var(--col-orng);
  background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
  border: 0;
  border-radius: 0.5rem;
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
              inset -2px -2px 3px rgba(0, 0, 0, .6);
  color: var(--col-gr);
  font-size: 1rem;
  line-height: 2.5;
  padding: 0 1.5rem;
  text-shadow: 1px 1px 1px #111;
}

#add-button:hover {
  background-color: var(--col-orng-dark);
}

#add-button:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
              inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.modal {
  background-color: rgb(0,0,0); /* bg fallback color */
  background-color: rgb(0,0,0,0.4); /* bg fallback color w/ opacity */
  display: none;
  height: 100%;
  left: 0;
  overflow: auto; /* Enable scroll in modal box if needed */
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.modal-header {
  padding: var(--pad-modal);
  background-color: var(--col-orng);
  color: var(--col-gr);
}

.modal-body {
  padding: var(--pad-modal);
}

.modal-content {
  background-color: #fefefe;
  border: 1px solid #888;
  margin: 15% auto;
  max-width: var(--app-width);
  padding: 1.25rem;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 1.75em;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#list ul {
  list-style-type: none;
  padding: 0;
}

#list li {
  padding: 1.75em;
  border-left: 5px solid var(--col-bord);
  margin: 1.75em 0.8em;
}

#list li:hover {
  border-color: var(--col-accent);
}